owl-wrapper-outer/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; right:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleRight, #cboxBottomRight{clear:right;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; right:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:right; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background: url(../images/classy_fabric.png) repeat;}
#colorbox{outline:0;}
    #cboxContent{background: url(../images/classy_fabric.png) repeat; overflow:hidden;}
        .cboxIframe{background:#f5f5f5;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; right:0; text-align:center; width:100%; color:#fff;opacity:0;}
        #cboxCurrent{position:absolute; bottom:4px; right:58px; color:#fff;opacity:0;}
        #cboxLoadingOverlay{background:url(../images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; left:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; top:30px; left:100px; background:url(../images/right1.png) no-repeat; width:20px; height:20px; text-indent:-9999px;opacity:.7;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;}
        #cboxPrevious:hover{opacity:1;}
        #cboxNext{position:absolute; top:30px; left:30px; background:url(../images/left1.png) no-repeat; width:20px; height:20px; text-indent:-9999px;opacity:.7;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;}
        #cboxNext:hover{opacity:1;}
        #cboxClose{position:absolute; top:30px; left:65px; background:url(../images/close1.png) no-repeat; width:20px; height:20px; text-indent:-9999px;}
        #cboxClose:hover{background:url(../images/close2.png) no-repeat;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopRight,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopLeft,
.cboxIE #cboxBottomRight,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxMiddleRight,
.cboxIE #cboxMiddleLeft {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopRight{background:url(images/ie6/borderTopRight.png);}
.cboxIE6 #cboxTopCenter{background:url(images/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopLeft{background:url(images/ie6/borderTopLeft.png);}
.cboxIE6 #cboxBottomRight{background:url(images/ie6/borderBottomRight.png);}
.cboxIE6 #cboxBottomCenter{background:url(images/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomLeft{background:url(images/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(images/ie6/borderMiddleRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(images/ie6/borderMiddleLeft.png);}

.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxMiddleRight,
.cboxIE6 #cboxMiddleLeft {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}

